<%-include("../partials/top.ejs")%>
<%-include("../partials/header.ejs")%>
<!-- Your content goes here -->
        
        <div class="container">
            <form action="/admin/products/add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1">Model</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Model" name="model" required>
                </div>
                
                <div class="sel d-flex mt-3">

                    <select class="form-control" id="exampleFormControlSelect1" name="brand">
                    <option>Brands</option>
                    <%for(i=0;i<=result.Brands.length-1;i++){%>
                        <option value="<%=result.Brands[i].name%>"><%=result.Brands[i].name%></option>
                        <%}%>
                  </select>
                  <select class="form-control" id="exampleFormControlSelect1" name="ROM">
                    <option>ROM</option>
                    <%for(i=0;i<=result.ROM.length-1;i++){%>
                    <option value="<%=result.ROM[i].storage%>"><%=result.ROM[i].storage%> GB</option>
                    <%}%>
                  </select>
                  <select class="form-control" id="exampleFormControlSelect1" name="RAM">
                    <option>RAM</option>
                    <%for(i=0;i<=result.RAM.length-1;i++){%>
                        <option value="<%=result.RAM[i].storage%>"><%=result.RAM[i].storage%> GB</option>
                        <%}%>
                    
                  </select>
                  <select class="form-control" id="exampleFormControlSelect1" name="category">
                    <option>Category</option>
                    <%for(i=0;i<=resul.length-1;i++){%>
                        <option value="<%=resul[i].name%>"><%=resul[i].name%> </option>
                        <%}%>
                    
                  </select>
                  <select class="form-control" id="exampleFormControlSelect1" name="OS">
                    <option>OS</option>
                    <%for(i=0;i<=result.OS.length-1;i++){%>
                        <option value="<%=result.OS[i].name%>"><%=result.OS[i].name%> </option>
                        <%}%>
                    
                  </select>
              
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <div class="form-group me-3">
                        <label for="exampleInputEmail1">stock</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="stock" name="stock" required>
                      </div>
                      <div class="form-group me-3">
                        <label for="exampleInputEmail1 ">Price</label>
                        <input type="number" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="price" name="price" required>
                      </div>
                      <div class="form-group me-3">
                        <label for="exampleInputEmail1 ">offer price</label>
                        <input type="number" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="price" name="offerprice" required>
                      </div>
                      <div class="form-group me-3">
                        <label for="exampleInputEmail1 ">Rating</label>
                        <input type="number" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="rating" name="rating" required>
                      </div>
                      <div class="form-group ">
                        <label for="exampleInputEmail1 ">Color</label>
                        <input type="text" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="color" name="color" required>
                      </div>
                </div>
                <div class="d-flex flex-column">
<input type="text" placeholder="highlights" name="highlights" class="form-control mt-3" >
                <input type="text" placeholder="highlights" name="highlights"  class="form-control mt-3">
                <input type="text" placeholder="highlights" name="highlights" class="form-control mt-3">
                <input type="text" placeholder="highlights" name="highlights" class="mt-3 form-control">
                <input type="text" placeholder="highlights" name="highlights" class="mt-3 form-control">
                <label for="w3review">description:</label>

<textarea id="w3review" name="description" rows="4" cols="50" required>

</textarea>
              
                </div>
                <d class="fil d-flex flex-column">
                  <label for="mainimage">upload main Image</label>
                    <input type="file" class="" name="mainImage" id="mainimage">
                    <input type="file"  name="myImage" class="mt-3" multiple>
                 
                <input type="submit" class="btn btn-primary mt-3">
            </form>
            
                </div>
                        
                
              
        </div>
        
        </div>
        </main>
</body>