<%-include("../partials/top.ejs")%>
<%-include("../partials/header.ejs")%><!-- Your content goes here -->
           


  

    <h1 id="paypal" style="display: none;"><%=paypal%></h1>
    <h1 id="cod"  style="display: none;"><%=cod%></h1>
    <h1 id="razorpay" style="display: none;"><%=razorpay%></h1>




    <h1 id="codd" style="display: none;"><%=codR%></h1>
   <h1 id="razorr" style="display: none;"><%=razorR%></h1>
    
    <h1 id="paypall" style="display: none;"><%=paypalR%></h1>
   
    <div class="container d-flex mt-4 justify-content-between" style="box-sizing:content-box;"> <div class=" w-50">
            <div class="me-4" style="border: 2px solid rgb(175, 166, 166); ">
              <h2 class="ps-3 pt-2"> Total Orders:<%=Number(paypal+cod+razorpay)%></h2>

              <canvas class="p-3" id="myChart"></canvas>
            </div>
           
          
          </div>
          <div class=" w-50 " style="border: 2px solid rgb(175, 166, 166);">
            <div>
              <!-- <h2 class="ps-3 pt-2">Orders</h2> -->
              <h2 class="p-3">Total Revenue:&nbsp&nbsp&nbsp&nbsp;₹
                <%=total%></h2>
              <canvas class="p-3" id="myChart2" ></canvas>
            </div>
           
          
          </div>
    </div>
         
        






        
        </main>
       
        
        <script>
           
   $(document).ready(()=>{
    console.log($("#paypal").html());
    var myVAlues=new Array();
            $.get("/admin/ordersData",(res)=>{
            for(i=0;i<res.length;i++)
            {
              myVAlues.push(res[i].count)
            }
                 
           
            })

console.log(myVAlues);
          const labels = [
            'paypal',
            'COD',
            'Razorpay',
            
          ];
          
        
          const data = {
            labels: labels,
            datasets: [{
              label: 'Orders',
              backgroundColor: 'rgb(100,128,255)',
              borderColor: '',
              data:[$("#paypal").html(),$("#cod").html(),$("#razorpay").html()],
            }]
          };
        
          const config = {
            type: 'bar',
            data: data,
            options: {}
          };
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
    






         const labels2 = [
            'paypal',
            'COD',
            'Razorpay',
            
          ];
          
        
          const data2 = {
            labels: labels2,
            datasets: [{
              label: 'total Revenue',
              backgroundColor: 'rgb(100,228,255)',
              borderColor: 'rgb(100,228,255)',
              data:[$("#paypall").html(),$("#codd").html(),$("#razorr").html()],
            }]
          };
        
          const config2 = {
            type: 'bar',
            data: data2,
            options: {}
          };
          const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
          );
        })



        
        </script>
        
         
      
</body>