<%-include("../partials/top.ejs")%>
<%-include("../partials/header.ejs")%>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">category</th>
            <th scope="col">offer</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <%for(i=0;i<=r.length-1;i++){%>
                <%if(r[i].offer==0){%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><%=r[i].name%></td>
                        <td>no offers</td>
                        <td><i class="fa-sharp fa-solid fa-plus"></i></td>
                      </tr>
                    <%}else{%>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=r[i].name%></td>
            <td><%=r[i].offer%>%</td>
            <td><i class="fa-solid fa-trash"></i><i class="fa-sharp fa-solid fa-plus ms-4"></i></td>
          </tr>
          <%}%>
          <%}%>
         
        </tbody>
      </table>
</div>