<%-include("../partials/top.ejs")%>
<%-include("../partials/header.ejs")%>

        
            <div class="add container"> <form action="/admin/addcat" method="post" onsubmit="onsub()">


                <div class="mb-3 d-flex mt-4">
                   
                    <input id="disabledInput" type="text" class="form-control me-4"  name="newcat" placeholder="New Category">
                    <input class="btn btn-primary" type="submit" value="add" id="sub">
                  </div>
                  <h5 class="text-danger text-center"><%=msg%></h5>
               
            </div>
            </form>
                
               
            <table class="table table-hover container" style="margin-top:150px ;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category name</th>
                    <th scope="col">edit</th>
                    <th scope="col">delete</th>
                  </tr>
                </thead>
                <tbody>
                 <%for(i=0;i<=result.length-1;i++){%>
                  <tr>
                    <th scope="row"><%=i+1%></th>
                    <th scope="row"><%=result[i].name%></th>
                   <th><a href="/admin/editcat?id=<%=result[i]._id%>"><button class="btn btn-success" onclick="editc('<%result[i]._id%>')">Edit</button></a></th>
                   <th><a href="/admin/deletecategory?id=<%=result[i]._id%>"><button class="btn btn-danger ">delete</button></a></th>
                   
                  </tr>
                  <%}%>
                </tbody>
              
              </table>
        
           
        </main>
        <script>
        //     function editc(id) {
                 
        //     }
        //  function onsub() {
        //     window.location.reload()
        //  }

        (function() {
    

        $("#sub").click(()=>{
           
           $.post("/admin/addcat",{
            value:("#inip").val()
           },()=>{

           })
           
            
        })
        </script>
</body>