<%-include("../partials/top.ejs")%>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
    mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Admin Dash</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <button id="demo-menu-lower-right"
              class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
       <a href="/logout"><li class="mdl-menu__item">log out</li></a>
      </ul>
      
              
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Title</span>
          <nav class="mdl-navigation ">
            <a class="mdl-navigation__link text-dark fw-bolder" href="/admin">Dashboard</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/products">Products</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/users">Users</a>
              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/orders">orders</a>

              <a class="mdl-navigation__link text-dark fw-bolder" href="/admin/categories">Category</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          <div class="page-content">
         <div class="table-responsive container-fluid">

            
            <table class="table table-hover table-bordered" style="margin-top:100px ;">
              <thead>
                <tr>
                  
                  <th scope="col">Image</th>
                  <th scope="col">Model</th>
                  <th scope="col">User</th>
                  <th scope="col">Address</th>
                  <th scope="col">Payment method</th>
                  <th scope="col">Time</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">price</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <%for(i=0;i<=result.length-1;i++){%>
                  <tr>
                   
                    <td style="width:5% ;"><img src="<%=result[i].p[0].mainImage%>" width="55%"></td>
                    <td><%=result[i].p[0].model%></td>
                    <td><%=result[i].user%></td>
                    <td style="max-width:300px ;max-height:fit-content;"><%=result[i].address%></td>
                    <td><%=result[i].method%></td>
                    <td><%=result[i].time%></td>
                    <td><%=result[i].quantity%></td>
                    <td><%=result[i].total%></td>
                    <td><select onchange="statuschange('<%=result[i]._id%>',this)" class="form-select" aria-label="Default select example" id="list">
                      <option selected><%=result[i].status%></option>
                      <option value="Shipped">Shipped</option>
                      <option value="On the way">On the way</option>
                      <option value="Arrived">Arrived</option>
                      <option value="canceled">canceled</option>
                    </select></td>
                    
                  </tr>
                  <%}%>
              
              </tbody>
              
            </table>
            <nav aria-label="Page navigation example ">
              <ul class="pagination d-flex justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <%for(i=0;i<=count/9-1;i++){%>
                <li class="page-item"><a class="page-link" href="/admin/orders?p=<%=i+1%>"><%=i+1%></a></li>
             
                <li class="page-item">
                  <%}%>
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
         </div>
            
            
            
            
            
            
            <!-- Your content goes here --></div>
        </main>
      <script src="../../assets/js/pagination.js"></script>  
      <script>

    function statuschange(orderid,x) {
      $.post("/admin/orders/update",{
        orderid:orderid,
        status:x.value
      },(data)=>{
         if(data.updated==true)
         {
          swal("status updated!");
         }
      })
    }
 
                    
         
      </script>
      </body>