<style>
/* #searchInput{
    width: 100% !important;
    margin-right: 200px !important;
    top: 50px !important;
    height:  20px  !important;
    margin-bottom: 150px !important;
    
}
#demo-menu-lower-right{
    display: flex !important;
    justify-content: center !important;
    align-items: center; margin-left: 65px !important;
}
.nav{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
} */


.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
  top: 0;
	height: 50px;
	width: 50px;
  margin-left: 150px;
	vertical-align: bottom;
  background-color: aqua;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
  background-color: #3F51B5;
  margin-left: 150px;
	position: absolute;
	font-size: 22px;
  top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
  top:0;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 250px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}
/*** basic styles ***/

form{
  margin-top: 25px;
}
</style>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
      <a href="/home" style="text-decoration: none;color: #fff;"><span class="mdl-layout-title"><svg xmlns="http://www.w3.org/2000/svg" width="89" height="28"><defs><linearGradient id="a" x1="38.766%" x2="61.151%" y1="14.446%" y2="85.38%"><stop stop-color="#28EDD3" offset="0%"/><stop stop-color="#3489DF" offset="100%"/></linearGradient></defs><path d="M29.05 21.46c2.57 0 4.54-1.2 4.54-3.84v-.05c0-2.17-1.94-2.97-3.6-3.53-1.28-.44-2.4-.75-2.4-1.42v-.04c0-.47.4-.82 1.23-.82.86 0 2.03.42 3.2 1.1l1.3-2.32c-1.3-.87-2.93-1.38-4.43-1.38-2.4 0-4.34 1.35-4.34 3.77v.05c0 2.3 1.88 3.08 3.54 3.57 1.3.4 2.45.65 2.45 1.38v.04c0 .54-.44.9-1.4.9-1.12 0-2.47-.5-3.75-1.43l-1.44 2.22c1.57 1.24 3.43 1.8 5.1 1.8zm10.02-.02c1.13 0 1.94-.27 2.65-.7v-2.7c-.5.27-1.04.42-1.66.42-.75 0-1.08-.38-1.08-1.15v-5.08h2.8V9.34h-2.8V6.3h-3.36v3.04H34.2v2.88h1.42v5.64c0 2.76 1.4 3.58 3.45 3.58zm9.75.06c2.14 0 3.74-.84 4.84-2.22l-1.92-1.7c-.93.86-1.75 1.22-2.88 1.22-1.5 0-2.56-.8-2.9-2.34h8.26c.02-.3.04-.62.04-.88 0-3.38-1.8-6.46-5.77-6.46-3.46 0-5.88 2.8-5.88 6.2v.03c0 3.64 2.64 6.15 6.2 6.15zM51 14.35H45.9c.27-1.53 1.17-2.53 2.57-2.53s2.3 1.03 2.5 2.53zm8.56 6.9V5.02H56.2v16.2h3.36zm5.97 0V5.02h-3.36v16.2h3.36zm8.07.25c2.15 0 3.74-.84 4.85-2.22l-1.93-1.7c-.93.86-1.74 1.22-2.87 1.22-1.5 0-2.57-.8-2.9-2.34H79c.02-.3.05-.62.05-.88 0-3.38-1.82-6.46-5.78-6.46-3.45 0-5.86 2.8-5.86 6.2v.03c0 3.64 2.64 6.15 6.2 6.15zm2.17-7.15H70.7c.27-1.53 1.18-2.53 2.57-2.53 1.42 0 2.3 1.03 2.5 2.53zm8.43 6.9v-4.4c0-2.85 1.37-4.2 3.6-4.2h.18V9.12c-2-.1-3.1.97-3.78 2.6V9.35h-3.37v11.9h3.37z"/><path fill="url(#a)" d="M15.64 1.68l.15.1s0 0-.27.42l-3.6 5.9-.1-.07c4.75 3.3 6.13 10.03 3.08 15.05-3.02 4.97-9.27 6.4-14 3.24l-.16-.1c-.02 0 0 .02.3-.47L4.6 19.9l.1.07C-.04 16.67-1.42 9.94 1.64 4.92c3.02-4.97 9.27-6.4 14-3.24z" transform="translate(-40 -12) translate(40 12)"/></svg></span></a>  
      
      <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->


     
        <nav class="mdl-navigation mdl-layout--large-screen-only  nav">
          <form action="/home/products" method="post" class="form" >
            <input type="text" id="searchInput" name="search"  placeholder="search here">
            </form>
             
          </nav>   
      
  
          <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button" >
   <h6 class="" style="color: #fff;font-weight: 600;"><%=user.name%></h6>
          
       </button>  
              
          

  
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
      <a href="/home/cart">  <li class="mdl-menu__item">Cart</li></a>
        <a href="/home/orders"><li class="mdl-menu__item">Orders</li></a>  
        <a href="/home/wishlist"><li class="mdl-menu__item">wishlist</li></a>  
        <a href="/home/profile"><li class="mdl-menu__item">My profile</li></a> 
         <a href="/logout"><li class="mdl-menu__item">log out</li></a>
  </ul>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer p-2 mb-4">
      <span class="mdl-layout-title">Title</span>
      <%if(locals.categories){%>
       <form action="/home/productsfilter"  method ="post" >
      <div class="brandsfilter d-flex justify-content-center flex-column align-items-start ps-3 border mb-4">
        <h5>OS</h5>
        <%for(i=0;i<=categories[0].OS.length-1;i++){%>
        <div class="group">
          <input id="<%=categories[0].OS[i].name%>" value="<%=categories[0].OS[i].name%>" type="radio" onchange="onchangeOS(this)" name="os"/>
          <label for="<%=categories[0].OS[i].name%>"><%=categories[0].OS[i].name%></label>
        </div> 
        <%}%>
     
      </div>
      <div class="brandsfilter d-flex justify-content-center flex-column align-items-start ps-3 border mb-4">
        <h5>Brands</h5>
        <%for(i=0;i<=categories[0].Brands.length-1;i++){%>
        <div class="group">
          <input id="<%=categories[0].Brands[i].name%>" type="radio" onchange="onchangeBrand(this)" value="<%=categories[0].Brands[i].name%>" name="brand"/>
          <label for="<%=categories[0].Brands[i].name%>"><%=categories[0].Brands[i].name%></label>
        </div> 
        <%}%>
     
      </div>
      <div class="brandsfilter d-flex justify-content-center flex-column align-items-start p-3 border">
        <h5>RAM</h5>
        <%for(i=0;i<=categories[0].RAM.length-1;i++){%>
        <div class="group">
          <input id="<%=categories[0].RAM[i].storage%>" value="<%=categories[0].RAM[i].storage%>" type="radio" onchange="onchangeRAM(this)" name="ram" />
          <label for="<%=categories[0].RAM[i].storage%>"><%=categories[0].RAM[i].storage%> GB</label>
        </div> 
        <%}%>
        
     
      </div>
        <input onclick="filtersumbit()" type="submit" value="apply filter" class="btn btn-primary " style="width:80% ;">
      <%}%>
    </div>
  </form>
    <main class="mdl-layout__content">
      <div class="page-content">
        <script>
          // function onchangeOS(x){
          //   os=x.value

          // }
          // function onchangeRAM(x){
          //   RAM=x.value
            
          // }
        
          // function onchangeBrand(x){
          //   brand=x.value
            
          // }
          // function filtersumbit() {
          //   $.post("/home/productsfilter",{
          //     os
          //   },()=>{

          //   })
          // }
        </script>