<%-include("../partials/top")%>

<%-include("../partials/userHeader.ejs")%>
		<div class="container">
		<table class="table  mt-5
		">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
				<th scope="col">Handle</th>
				<th scope="col">Handle</th>
			  </tr>
			</thead>
			<tbody>
				<%for(i=0;i<=result.length-1;i++){%>
			  <tr>
				<th scope="row"><%=i+1%></th>
				<td><img src="<%=result[i].pro.mainImage%>" width="100px" alt=""></td>
				<td><%=result[i].pro.model%></td>
				<td>Rs:<%=result[i].pro.price%></td>
				
				<td>
					<button class="cart-item-count me-2 btn btn-info" onclick="changeQuantity('<%=result[i]._id%>','<%=result[i].pro._id%>',-1)">-</button>
					<span id="<%=result[i].pro._id%>"><%=result[i].products.count%></span>
					<button class="cart-item-count ms-2 btn btn-info" onclick="changeQuantity('<%=result[i]._id%>','<%=result[i].pro._id%>',1)" >+</button>
				</td>
				<td></td>
				<td>
					<a href="/home/removeFromCart/<%=result[i].products.product%>" class="btn btn-danger">remove</a>
				</td>
			  </tr>
			  <%}%>	
			 
			</tbody>
		  </table>
		  <hr>

		  <div class="checkoutdiv float-end me-5 mt-5">
			Total:<h1 id="totalp">0</h1>
			<a href="/home/cart/checkout" >
				
			<button class="checkout btn-lg btn-success" style="height:50px ;padding: 5px 10px 5px 10px;">proceed to checkout</button>
			</a>
		  </div>
		</div>
		 
	
		</div>
	</main>
	<script>
		function changeQuantity(cartId,proId,count){
			quantity=parseInt($(`#${proId}`).text())
             $.post("/home/changeQuantity",{
                cart:cartId,
				product:proId,
				count:count,
				quantity:quantity

			 },(response)=>{
				if(response){
					
					$(`#${proId}`).text(quantity+parseInt(count	))
				}
			 })
		
			 $.post("/home/gettotal",{data:"hai"},(res)=>{
				// console.log(res[0].total);
				if(res)
				{
					$("#totalp").html(res[0].total)
				}
				
			})
		}

		$(document).ready(()=>{
			$.post("/home/gettotal",{data:"hai"},(res)=>{
				// console.log(res[0].total);
				if(res)
				{
					$("#totalp").html(res[0].total)
				}
				
			})
		})
	</script>
  </div>