<%-include("../partials/top")%>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
	  <div class="mdl-layout__header-row">
		<!-- Title -->
		<span class="mdl-layout-title">Title</span>
		<!-- Add spacer, to align navigation to the right -->
		<div class="mdl-layout-spacer"></div>
		<!-- Navigation. We hide it in small screens. -->
		<nav class="mdl-navigation mdl-layout--large-screen-only">
		  <a class="mdl-navigation__link" href="">Link</a>
		  <a class="mdl-navigation__link" href="">Link</a>
		  <a class="mdl-navigation__link" href="">Link</a>
		  <a class="mdl-navigation__link" href="">Link</a>
		</nav>
	  </div>
	</header>
	<div class="mdl-layout__drawer">
	  <span class="mdl-layout-title">Title</span>
	  <nav class="mdl-navigation">
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
		<a class="mdl-navigation__link" href="">Link</a>
	  </nav>
	</div>
	<main class="mdl-layout__content">
	  <div class="page-content"><!-- Your content goes here -->
		<div class="container">
		<table class="table  mt-5
		">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
				<th scope="col">Handle</th>
				<th scope="col">Handle</th>
			  </tr>
			</thead>
			<tbody>
				<%for(i=0;i<=result.length-1;i++){%>
			  <tr>
				<th scope="row"><%=i+1%></th>
				<td><img src="<%=result[i].pro.mainImage%>" width="100px" alt=""></td>
				<td><%=result[i].pro.model%></td>
				<td>Rs:<%=result[i].pro.price%></td>
				
				<td>
					<button class="cart-item-count me-2 btn btn-info" onclick="changeQuantity('<%=result[i]._id%>','<%=result[i].pro._id%>',-1)">-</button>
					<span id="<%=result[i].pro._id%>"><%=result[i].products.count%></span>
					<button class="cart-item-count ms-2 btn btn-info" onclick="changeQuantity('<%=result[i]._id%>','<%=result[i].pro._id%>',1)" >+</button>
				</td>
				<td></td>
				<td>
					<a href="" class="btn btn-danger">remove</a>
				</td>
			  </tr>
			  <%}%>	
			 
			</tbody>
		  </table>
		  <hr>

		  <div class="checkoutdiv float-end me-5 mt-5">
			
			<a href="/home/cart/checkout" >
			<button class="checkout btn-lg btn-success" style="height:50px ;padding: 5px 10px 5px 10px;">proceed to checkout</button>
			</a>
		  </div>
		</div>
		 
	
		</div>
	</main>
	<script>
		function changeQuantity(cartId,proId,count){
			quantity=parseInt($(`#${proId}`).text())
             $.post("/home/changeQuantity",{
                cart:cartId,
				product:proId,
				count:count,
				quantity:quantity

			 },(response)=>{
				if(response){
					
					$(`#${proId}`).text(quantity+parseInt(count	))
				}
			 })
		}
	</script>
  </div>