

<!DOCTYPE html>

<!-- <html lang="en" >

<head>

  <meta charset="UTF-8">
  
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


  <title>CodePen - Free Tailwind CSS Checkouts Component</title>
  <title>Tailwind CSS Checkouts - Free &amp; Premium components</title>
<meta name="title" content="Tailwind CSS Checkouts - Free &amp; Premium components">
<meta name="description" content="Tailwind checkout is the series of steps a customer has to take after purchasing something from the website.">
<link rel="canonical" href="https://tailwinduikit.com/components/E-commerce/Components/Checkouts">
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'>
  

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >
 

  

</body>

</html> -->
<%-include("../partials/top.ejs")%>
<style>
 ul li{
    margin: 0;
    list-style: none;
    background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Title</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Your content goes here -->
    
        <div>
            <div class="py-16 px-4 md:px-6 2xl:px-0 flex justify-center items-center 2xl:mx-auto 2xl:container">
    
                <div class="flex flex-col justify-start items-start w-full space-y-9">
                    <div class="flex justify-start flex-col items-start space-y-2">
                        <button class="flex flex-row items-center text-gray-600 dark:text-white hover:text-gray-500 space-x-1">
                            <svg class="fill-stroke" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.91681 7H11.0835" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2.91681 7L5.25014 9.33333" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2.91681 7.00002L5.25014 4.66669" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <p class="text-sm leading-none">Back</p>
                        </button>
                        <p class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800 dark:text-gray-50">Checkout</p>
                    </div>
        
                    <div class="flex flex-col xl:flex-row justify-center xl:justify-between space-y-6 xl:space-y-0 xl:space-x-6 w-full">
                        <div class="   flex flex-col sm:flex-row xl:flex-col justify-center items-center bg-white border-1 dark:bg-gray-800 py-7 sm:py-0 xl:py-10 px-10 xl:w-full">
                            <div class="flex flex-col justify-start items-start w-full space-y-4">
                                <p class="text-xl md:text-2xl leading-normal text-gray-800 dark:text-gray-50"><%=result.model%></p>
                                <h1 class="text-4xl"><%=result.price%></h1>
                            </div>
                            <div class="mt-6 sm:mt-0 xl:my-10 xl:px-20 w-52 sm:w-96 xl:w-auto">
                                <img id="mainimg" src="<%=result.images[0]%>" alt="headphones" />
                            </div>
                            <div class="d-flex">
                               <%for (image of result.images){%>
                            <img src="<%= image%>" width="65px" class="border-1 me-3 " alt="" onclick="imgchange('<%=image%>',this)">
                            <%}%>
                            </div>                         
                        </div>
                        
        
                        <div class="p-8 bg-gray-100 dark:bg-gray-800 flex flex-col lg:w-full xl:w-3/5 d-flex flex-column justify-content-between">
                            <div class="detials">
                                <h1 class="text-2xl mb-4"><%=result.model%></h1>
                                <ul>
                                    <%for(h of result.highlights){%>
                                    <li> <span><%=h%></span></li>
                                     <%}%>
                                  </ul>
                                 
                                    <a class="mt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                      Detials:
                                    </a>
                                    
                                  
                                  <div class="colapse" id="collapseExample">
                                    <div class="card card-body" style="max-height:300px ;overflow-y: scroll;">
                                     <%=result.description%>
                                    </div>
                                  </div>
                            </div>
                             <div> 
                              <a href="/home/checkout/<%=result._id%>"> <button style="background-color: #3F51B5;" class="border border-transparent  bg-gray-900 dark:bg-white dark:hover:bg-gray-900 dark:hover:border-gray-900 dark:text-gray-900 dark:hover:text-white hover:bg- text-white hover:text-gray-900 flex flex-row justify-center items-center space-x-2 py-4 rounded w-full">
                                <div>
                                  
                                </div>
                                <div>
                                    <p class="text-base leading-4 text-2xl">Buy Now</p>
                                </div>
                            </button></a>
        
                            <div class="flex flex-row justify-center items-center mt-2">
                                <hr class="border w-full" />
                                <p class="flex flex-shrink-0 px-4 text-base leading-4 text-gray-600 dark:text-white">or</p>
                                <hr class="border w-full" />
                                
                            </div>
                         <a href="/home/products/addcart/<%=result._id%>">
                            <button style="background-color: #3F51B5;"  class=" btn mt-2 border border-transparent hover:border-gray-300 dark:bg-white dark:hover:bg-gray-900 dark:text-gray-900 dark:hover:text-white dark:border-transparent bg-gray-900 hover:bg-white text-white hover:text-gray-900 flex justify-center items-center py-4 rounded w-full">
                                <div >
                                    <p class="text-base leading-4">add to cart</p>
                                </div>
                            </button></a></div>
                          
        



                            
                            <!-- <div class="mt-8">
                                <input class="border border-gray-300 p-4 rounded w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="Email" />
                            </div>
        
                            <label class="mt-8 text-base leading-4 text-gray-800 dark:text-gray-50">Card details</label>
                            <div class="mt-2 flex-col">
                                <div>
                                    <input class="border rounded-tl rounded-tr border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="0000 1234 6549 15151" />
                                </div>
                                <div class="flex-row flex">
                                    <input class="border rounded-bl border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="MM/YY" />
                                    <input class="border rounded-br border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="CVC" />
                                </div>
                            </div>
        
                            <label class="mt-8 text-base leading-4 text-gray-800 dark:text-gray-50">Name on card</label>
                            <div class="mt-2 flex-col">
                                <div>
                                    <input class="border rounded border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="email" name="" id="" placeholder="Name on card" />
                                </div>
                            </div>
        
                            <label class="mt-8 text-base leading-4 text-gray-800 dark:text-gray-50">Country or region</label> -->
                            <!-- <div class="mt-2 flex-col">
                                <div class="relative">
                                    <button id="changetext" class="text-left border rounded-tr rounded-tl border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600 bg-white" type="email" name="" id="">United States</button>
                                    <svg onclick="showMenu(true)" id="closeIcon" class="cursor-pointer absolute top-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.5 5.75L8 10.25L12.5 5.75" stroke="#27272A" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <svg onclick="showMenu(true)" id="openIcon" class="cursor-pointer hidden transform rotate-180 absolute top-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.5 5.75L8 10.25L12.5 5.75" stroke="#27272A" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <div id="dropdown" class="mt-1 hidden absolute z-10 w-full flex bg-gray-50 justify-start flex-col text-gray-600">
                                        <div onclick="changeText('China')" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">China</div>
                                        <div onclick="changeText('Russia')" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">Russia</div>
                                        <div onclick="changeText('UK')" class="cursor-pointer hover:bg-gray-800 hover:text-white px-4 py-2">UK</div>
                                    </div>
                                </div>
                                <input class="border rounded-bl rounded-br border-gray-300 p-4 w-full text-base leading-4 placeholder-gray-600 text-gray-600" type="text" name="" id="" placeholder="ZIP" />
                            </div> -->
        
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
         <!-- Button trigger modal -->



  <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
<script>
  








  
</script>
  
  <script id="rendered-js" >
function imgchange(img,x)
{
  document.getElementById("mainimg").src=img
   
}

let closeIcon = document.getElementById("closeIcon");
let openIcon = document.getElementById("openIcon");
let dropdown = document.getElementById("dropdown");
let text = document.getElementById("changetext");
// more free and premium Tailwind CSS components at https://tailwinduikit.com/
const showMenu = flag => {
if (flag) {
closeIcon.classList.toggle("hidden");
openIcon.classList.toggle("hidden");
dropdown.classList.toggle("hidden");
} else {
closeIcon.classList.toggle("hidden");
openIcon.classList.toggle("hidden");
dropdown.classList.toggle("hidden");
}
};

const changeText = country => {
text.innerHTML = country;
closeIcon.classList.toggle("hidden");
openIcon.classList.toggle("hidden");
dropdown.classList.toggle("hidden");
};

</script>