<%-include("../partials/top.ejs")%>

<!-- <link rel="stylesheet" href="css/myaddress.css"> -->
<style>
  .profile::-webkit-scrollbar{
    display: none;
  }
    a{
        text-decoration: none;
        color: #050305;
    }
    ul{

        display: flex;
        flex-direction: column;
        list-style:none;
        margin: 0;
        padding: 0;
        margin-top: 60px;
        cursor: pointer;
        
    }
    li:hover{
        background-color: #e7e7e7;
    }
li{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #ecefff;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #c1aac5
}

.profile-button:focus {
    
    box-shadow: none
}

.profile-button:active {
   
    box-shadow: none
}

.back:hover {
    color: #050305;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.address{
    border-radius: 10px;
    height: 150px;
    border: 1px solid #3F51B5;
    width: 90%;
}
.addressdiv::-webkit-scrollbar{
    display: none;
}


</style>
<body>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add a new Address</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name"required>
                
              </div>
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="mob" name="name" required>
                
              </div>
      
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Address line1</label>
                <input type="text" class="form-control" id="ad1"  name="address1" required>
                
              </div>
      
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Address line2</label>
                <input type="text" class="form-control" id="ad2"  name="address2" required>
                
              </div>
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">post</label>
                <input type="text" class="form-control" id="post"  name="post" required >
                
              </div>
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">pin</label>
                <input type="number" class="form-control" id="pin"  name="pin" required>
                
              </div>
              <div class="mb-1">
                
               
                
              </div>
              <input type="button" onclick="addaddressbtn('<%user._id%>')" value="add"  class="form-control btn btn-primary">
            <!-- </form> -->
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div> -->
          </div>
        </div>
      </div>
<%-include("../partials/userHeader.ejs")%>
      <!-- Your content goes here -->
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="d-flex" style="border: 2px solid grey;justify-content: space-around;">
                    <div class="col-md-3 border-right d-flex">
                        <d class="d-flex flex-column  align-items-center text-center p-3 py-5">
                            <img class="rounded-circle d-flex flex-column" width="50px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                            <span class="font-weight-bold"><%=user.name%></span>
                        
                            <span class="text-black-50"><%=user.email%>
                            
                            </span>
                            <div class="div " style="width:250px ;">
                            <ul>
                                <a href="/home/profile" ><li >My Profile</li></a>
                               <a href="/home/orders"> <li>My Orders</li></a>
                               <a href="/home/getwallet" > <li style="background-color: rgb(206, 195, 255);" >My Wallet</li></a>
                               <a href="/home/myaddress"><li>My Addresses</li></a>
                                <a href="/logout"><li>Log out</li></a>
                            </ul>
                            </div>
                            

                    </div>
                    
                      <div class="profile p-2" style="height:500px ;overflow-y: scroll;width:50%;">
                        <div class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add new address</div>
                        <%for(i=0;i<=user.address.length-1;i++){%>
                        <div class="address-single p-3 mb-2 d-flex" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;width: 50%;" >
                          <div class="left w-75">
                            <h5><%=user.address[i].name%></h5>
                            <h5><%=user.address[i].address1%></h5>
                            <h5><%=user.address[i].post%></h5>
                            <h5><%=user.address[i].pin%></h5>
                            <h5><%=user.address[i].mobile %></h5>
                          </div>
                          <div class="right w-25 d-flex justify-content-center align-items-center">
                           <a href="/home/deleteaddress?in=<%=i%>"> <div class="btn btn-danger">delete</div></a> 
                            
                          </div>
                          </div>
                         
                          
                     
                    <%}%>
                        </div>
                      </div>
                  
                   
                </div>
            </div>
            </div>
            </div>
            
          </div>
        
        
          
        </main>
        
      <script>
        $(document).ready(()=>{
           
            $("#myWallet").css("display","none")
            $("#myAddress").css("display","none")
        
        })

     

   


        function addaddressbtn(id) {
      
      $.post("/home/addaddress/<%=user._id%>",
      {name:$("#name").val(),
       address1:$("#ad1").val(),
       address1:$("#ad2").val(),
       post:$("#post").val(),
       pin:$("#pin").val(),
       mobile:$("#mob").val()
    },
      (data)=>{
        if(data.empty){
          swal("all fields must filled.")
        }
        else{
                  swal("address added!.")
.then((value) => {
  
  location.reload()
});
        }

      
       

      }
      )
      
     }
      </script>
</body>