
<%-include("../partials/top.ejs")%>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body" id="modalbd">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>




body {
	 font-family: Arial, sans-serif;
	 background: #ddd;
}
 h1 {
	 text-align: center;
	 font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	 color: #333;
	 text-shadow: 0 1px 0 #fff;
	 margin: 50px 0;
}
 #wrapper {
	 width: 100px;
	 margin: 0 auto;
	 background: #fff;
	 padding: 20px;
	 border: 10px solid #aaa;
	 border-radius: 15px;
	 background-clip: padding-box;
	 text-align: center;
}
 .button {
	
}
 .button:hover {
	 border-color: #999;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
 .button:active {
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
 .overlay {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: rgba(0, 0, 0, 0.5);
	 transition: opacity 200ms;
	 visibility: hidden;
	 opacity: 0;
}
 .overlay.light {
	 background: rgba(255, 255, 255, 0.5);
}
 .overlay .cancel {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 cursor: default;
}
 .overlay:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup {
	 margin: 75px auto;
	 padding: 20px;
	 background: #fff;
	 border: 1px solid #666;
	 width: 900px;
	
	 box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	 position: relative;
}
 .light .popup {
	 border-color: #aaa;
	 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
 .popup h2 {
	 margin-top: 0;
	 color: #666;
	 font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
 .popup .close {
	 position: absolute;
	 width: 20px;
	 height: 20px;
	 top: 20px;
	 right: 20px;
	 opacity: 0.8;
	 transition: all 200ms;
	 font-size: 24px;
	 font-weight: bold;
	 text-decoration: none;
	 color: #666;
}
 .popup .close:hover {
	 opacity: 1;
}
 .popup .content {
	 max-height: 400px;
	 /* overflow: auto; */
}
 .popup p {
	 margin: 0 0 1em;
}
 .popup p:last-child {
	 margin: 0;
}
 












	@import "compass/css3";
/* I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things... Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned. */
/* Global settings */
/* Global "table" column settings */
 .product-image {
	 float: left;
	 width: 20%;
}
 .product-details {
	 float: left;
	 width: 37%;
}
 .product-price {
	 float: left;
	 width: 12%;
}
 .product-quantity {
	 float: left;
	 width: 10%;
}
 .product-removal {
	 float: left;
	 width: 9%;
}
 .product-line-price {
	 float: left;
	 width: 12%;
	 text-align: right;
}
/* This is used as the traditional .clearfix class */
 .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 content: '';
	 display: table;
}
 .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 clear: both;
}
 .group, .shopping-cart, .column-labels, .product, .totals-item {
	 zoom: 1;
}
/* Apply clearfix in a few places */
/* Apply dollar signs */
 .product .product-price:before, .product .product-line-price:before, .totals-value:before {
	 content: '₹';
}
/* Body/Header stuff */
 body {
	 /* padding: 0px 30px 30px 20px; */
	 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-weight: 100;
}
 h1 {
	 font-weight: 100;
}
 label {
	 color: #aaa;
}
 .shopping-cart {
	 margin-top: -45px;
}
/* Column headers */
 .column-labels label {
	 padding-bottom: 15px;
	 margin-bottom: 15px;
	 border-bottom: 1px solid #eee;
}
 .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
	 text-indent: -9999px;
}
/* Product entries */
 .product {
	 margin-bottom: 20px;
	 padding-bottom: 10px;
	 border-bottom: 1px solid #eee;
}
 .product .product-image {
	 text-align: center;
}
 .product .product-image img {
	 width: 100px;
}
 .product .product-details .product-title {
	 margin-right: 20px;
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .product .product-details .product-description {
	 margin: 5px 20px 5px 0;
	 line-height: 1.4em;
}
 .product .product-quantity input {
	 width: 40px;
}

 .product .remove-product:hover {
	 background-color: #a44;
}
/* Totals section */
 .totals .totals-item {
	 float: right;
	 clear: both;
	 width: 100%;
	 margin-bottom: 10px;
}
 .totals .totals-item label {
	 float: left;
	 clear: both;
	 width: 79%;
	 text-align: right;
}
 .totals .totals-item .totals-value {
	 float: right;
	 width: 21%;
	 text-align: right;
}
 .totals .totals-item-total {
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .checkout {
	 float: right;
	 border: 0;
	 margin-top: 20px;
	 padding: 6px 25px;
	 background-color: #6b6;
	 color: #fff;
	 font-size: 25px;
	 border-radius: 3px;
}
 .checkout:hover {
	 background-color: #494;
}
/* Make adjustments for tablet */
 @media screen and (max-width: 650px) {
	 .shopping-cart {
		 margin: 0;
		 padding-top: 20px;
		 border-top: 1px solid #eee;
	}
	 .column-labels {
		 display: none;
	}
	 .product-image {
		 float: right;
		 width: auto;
	}
	 .product-image img {
		 margin: 0 0 10px 10px;
	}
	 .product-details {
		 float: none;
		 margin-bottom: 10px;
		 width: auto;
	}
	 .product-price {
		 clear: both;
		 width: 70px;
	}
	 .product-quantity {
		 width: 100px;
	}
	 .product-quantity input {
		 margin-left: 20px;
	}
	 .product-quantity:before {
		 content: 'x';
	}
	 .product-removal {
		 width: auto;
	}
	 .product-line-price {
		 float: right;
		 width: 70px;
	}
}
/* Make more adjustments for phone */
 @media screen and (max-width: 350px) {
	 .product-removal {
		 float: right;
	}
	 .product-line-price {
		 float: right;
		 clear: left;
		 width: auto;
		 margin-top: 10px;
	}
	 .product .product-line-price:before {
		 content: 'Item Total: ';
	}
	 .totals .totals-item label {
		 width: 60%;
	}
	 .totals .totals-item .totals-value {
		 width: 40%;
	}
	.icon-content{
		display: none;
	}
}
 



body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #8c9eff;
  background-repeat: no-repeat;
}

.card {
  z-index: 0;
  background-color: #eceff1;
  padding-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  border-radius: 10px;
}

.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0px;
  margin-top: 30px;
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #c5cae9;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 12px;
  background: #c5cae9;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  left: -50%;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #651fff;
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c";
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.icon-content {
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .icon-content {
    width: 50%;
  }
}








 
</style>
<%-include("../partials/top.ejs")%>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  

<body>
  <%-include("../partials/userHeader.ejs")%>
	<!-- Your content goes here -->
			<h2 class="ms-4">Shopping Cart</h2>







			<table class="table container mt-4">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">image</th>
					<th scope="col">product</th>
					<th scope="col">Payment Method</th>

					<th scope="col">Price</th>
					<th scope="col">no. of items</th>
					<th></th>
					<th scope="col"></th>

				  </tr>
				</thead>
				<tbody>
					<%for(i=0;i<=result.length-1;i++){%>
						<%if(result[i].status=="canceled"){%>
							<tr style="filter: grayscale(100%);">
								<th scope="row"><%=i+1%></th>
								<td><img src="<%=result[i].p[0].mainImage%>" width="100px"></td>
								
								<td><div class="product-title"><h5><%=result[i].p[0].model%></h5></div></td>
								<td><div class="product-price"><h5>₹<%=result[i].total%></h5></div></td>
								<td><div class="product-quantity"><h5>X<%=result[i].quantity%></h5></div></td>
								<td></td>
								<td><button disabled class="remove-product btn btn-danger  ms-4" onclick="cancelOrder('<%=result[i]._id%>','<%=result[i]._id%>')">
									order canceled
								  </button></td>
							
			
							  </tr>
							  <%}else{%>

			
										<tr>
											<th scope="row"><%=i+1%></th>
											<td >
												<a href="/home/orderinfo/<%=result[i]._id%>/?dis=<%=result[i].discount%>"><img src="<%=result[i].p[0].mainImage%>" alt="" height="50px"></a>
												 </td>
											<td><h6><%=result[i].p[0].model%> <%if(result[i].product.length!=1){%>
												and
												<%}%>
												  <a href="/home/orderinfo/<%=result[i]._id%>/?dis=<%=result[i].discount%>"><%if(result[i].product.length!=1){%>
												<%=result[i].product.length-1%>  other </a></h6></td>
												<%}%>
											<td><div class="product-title"><h5><%=result[i].method%></h5></div></td>
											<td><div class="product-price"><h5>₹<%=Math.ceil(result[i].total+result[i].walletAmount)%></h5></div></td>
											<td><div class="product-quantity"><h5>X<%=result[i].product.length%></h5></div></td>
											<td> <p><a class="button" href="#popup1" id="st" onclick="stat('<%=result[i].product.status%>','<%=result[i]._id%>')">track your order</a></p></td>	
											
												<td></td>	</td>
						
										  </tr>
										
				 
				  <%}%>
				  
				  <%}%>	
				</tbody>
			  </table>

			  <div id="popup1" class="overlay">
				<div class="popup">
					<h2>Track Your Order</h2>
					<a class="close" href="#">&times;</a>
					<div class="content">
					   <div class="container mx-auto">
						   <div class="card">
							 <div class="row d-flex justify-content-between px-3 top">
							   <div class="d-flex">
								 <h5 id="orderid">ORDER <span id="orderd" class="text-primary font-weight-bold">#Y34XDHR</span></h5>
							   </div>
							   <div class="d-flex flex-column text-sm-right">
								 <!-- <p class="mb-0">Expected Arrival <span>01/12/19</span></p> -->
								 <!-- <p>USPS <span class="font-weight-bold">234094567242423422898</span></p> -->
							   </div>
							 </div> <!-- Add class 'active' to progress -->
							 <div class="row d-flex justify-content-center">
							   <div class="col-12">
								 <ul id="progressbar" class="text-center">
								   <li class="active step0"></li>
								   <li class="step0"></li>
								   <li class="step0"></li>
								   <li class="step0"></li>
								 </ul>
							   </div>
							 </div>
							 
							 <div class="row  top" style="display:flex;">
							   <div class=" d-flex justify-content-between icon-content"> 
								   
								 <div class="d-flex">
								   <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
								   <p class="font-weight-bold">Order<br>Processed</p>
								 </div>
								 <div class="d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
								   <div class="">
									 <p class="font-weight-bold">Order<br>Shipped</p>
								   </div>
								 </div>
								 <div class=" d-flex icon-content"> <img class="icon" src="https://i.imgur.com/TkPm63y.png">
								   <div class="">
									 <p class="font-weight-bold">Order<br>En Route</p>
								   </div>
								 </div>
								 <div class=" d-flex icon-content"> <img class="icon" src="https://i.imgur.com/HdsziHP.png">
								   <div class=">
									 <p class="font-weight-bold">Order<br>Arrived</p>
								   </div>
								 </div>
							   </div>
							   
							 </div>
						   </div>
					   </div>
					</div>
				</div>
			</div>
			

















</div>
        </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
function multiClick(orderid){
	$.post("/home/orderinfo",{
		orderid,
	},(response)=>{

	})
}

function modalbtn(orderid){
$("#modalbd").text(orderid)
}

	
function stat(status,id){
	alert(status)
$("#orderid").html(`ORDER-ID <span id="orderd" class="text-primary font-weight-bold">${id}</span>`)
if(status=="placed"){
	$("#progressbar").html('<li class="active step0"></li><li class="step0"></li><li class="step0"></li><li class="step0"></li>')
}else if(status=="Shipped"){
	$("#progressbar").html('<li class="active step0"></li><li class="active step0"></li><li class="step0"></li><li class="step0"></li>')
}else if(status=="On the way"){
	$("#progressbar").html('<li class="active step0"></li><li class="active step0"></li><li class="active step0"></li><li class="step0"></li>')

}
else{
	$("#progressbar").html('<li class="active step0"></li><li class="active step0"></li><li class="active step0"></li><li class="active step0"></li>')

}
}




function cancelOrder(orderid,x){
var results=confirm("are u sure.?")
if(results==true)
{

	$.post(`/home/orders/cancelorder?id=${orderid}`,{
		status:"canceled"
	
	},
	function (data)	{
		if(data.deleted==true){
			console.log(data);
			
			location.reload()
		}
	})
		
}
	
}








	/* Set rates + misc */
var taxRate = 0.05;
var shippingRate = 15.00; 
var fadeTime = 300;


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {

  removeItem(this);
});


/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;
  
  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });
  
  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = (subtotal > 0 ? shippingRate : 0);
  var total = subtotal + tax + shipping;
  
  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;
  
  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });  
}


/* Remove item from cart */
function removeItem(removeButton)
{
  /* Remove row from DOM and recalc cart total */
//   var productRow = $(removeButton).parent().parent();

//   });
}
</script>