<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Track order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="root">
                    <figure>
                        <img id="image" src="https://images.melorra.com/image/upload/h_350,w_350,f_auto,fl_progressive/v1571040732/live-melorra/dev/catalogue/images/TG/OPT/580/W19WTG16F_C_580.jpg" alt="">
                            <figcaption>
                                <h4 id="model">Some Jewellery Name</h4>
                                <h6 id="category">Category</h6>
                                <h2 id="total">₹ 23,456</h2>
                            </figcaption>
                        </figure>
                        <div class="order-track">
                            <div class="order-track-step">
                                <div class="order-track-status">
                                    <span class="order-track-status-dot1"></span>
                                    <span class="order-track-status-line1"></span>
                                </div>
                                <div class="order-track-text">
                                    <p class="order-track-text-stat">Order Placed</p>
                                </div>
                            </div>
                            <div class="order-track-step">
                                <div class="order-track-status">
                                    <span class="order-track-status-dot2"></span>
                                    <span class="order-track-status-line2"></span>
                                </div>
                                <div class="order-track-text">
                                    <p class="order-track-text-stat">Order Shipped</p>
                                </div>
                            </div>
                            <div class="order-track-step">
                                <div class="order-track-status">
                                    <span class="order-track-status-dot3"></span>
                                    <span class="order-track-status-line3"></span>
                                </div>
                                <div class="order-track-text">
                                    <p class="order-track-text-stat">order on the way</p>
                                </div>
                            </div>
                            <div class="order-track-step">
                                <div class="order-track-status">
                                    <span class="order-track-status-dot4"></span>
                                    <span class="order-track-status-line4"></span>
                                </div>
                                <div class="order-track-text">
                                    <p class="order-track-text-stat">Order out for Delevery</p>
                                </div>
                            </div>
                            <div class="order-track-step">
                                <div class="order-track-status">
                                    <span class="order-track-status-dot5"></span>
                                    <span class="order-track-status-line5"></span>
                                </div>
                                <div class="order-track-text">
                                    <p class="order-track-text-stat">Order Deliverd</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <%-include("../partials/top.ejs")%>
    <%-include("../partials/userHeader.ejs")%>
    <!-- Button trigger modal -->
    <style>
        #model {
            font-size: 15px
        }
        @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600 &display=swap');
        *,
        *::after,
        *::before {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }


        h2,
        h4,
        h6 {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        .root {
            padding: 3rem 1.5rem;
            border-radius: 5px;
            box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
        }
        figure {
            display: flex;
        }
        figure img {
            height: 8rem;
            margin-right: 1.5rem;
        }
        figure figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        figure figcaption h4 {
            font-size: 1.4rem;
            font-weight: 500;
        }
        figure figcaption h6 {
            font-size: 1rem;
            font-weight: 300;
        }
        figure figcaption h2 {
            font-size: 1.6rem;
            font-weight: 500;
        }
        .order-track {
            margin-top: 2rem;
            padding: 2.5rem 1rem 0;
            border-top: 1px dashed #2c3e50;
            display: flex;
            flex-direction: column;
        }
        .order-track-step {
            display: flex;
            height: 7rem;
        }
        .order-track-step:last-child {
            overflow: hidden;
            height: 4rem;
        }
        .order-track-step:last-child .order-track-status span:last-of-type {
            display: none;
        }
        .order-track-status {
            margin-right: 1.5rem;
            position: relative;
        }
        .order-track-status-dot1,
        .order-track-status-dot2,
        .order-track-status-dot3,
        .order-track-status-dot4,
        .order-track-status-dot5 {
            display: block;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            background-color: grey;
        }
        .order-track-status-line1,
        .order-track-status-line2,
        .order-track-status-line3,
        .order-track-status-line4,
        .order-track-status-line5 {
            display: block;
            margin: 0 auto;
            width: 2px;
            height: 7rem;
            background: grey;
        }
        .order-track-text-stat {
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 3px;
        }
        .order-track-text-sub {
            font-size: 1rem;
            font-weight: 300;
        }
        .order-track {
            transition: all 0.3s height 0.3s;
            transform-origin: top center;
        }
    </style>

    <!-- Modal -->

    <div class="container">

        <table class="table     table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">image</th>
                    <th scope="col">model</th>
                    <th scope="col">price</th>
                    <th scope="col">quantity</th>
                    <th>status</th>
                    <th scope="col">total</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>

                <%for(i=0;i<=order.length-1;i++){%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td class="d-flex justify-content-center align-items-center">
                            <img src="<%=order[i].pp[0].mainImage%>" height="100px" alt=""></td>
                            <td>
                                <h6><%=order[i].pp[0].model%></h6>
                            </td>

                            <td>
                                <h6>₹<%=order[i].pp[0].offerprice%></h6>
                            </td>
                            <td>
                                <h6>x<%=order[i].product.count%></h6>
                            </td>


                            <%if(order[i].product.status=="cancelled"){%>
                                <td></td>


                            </td>
                        <%}else{%>
                            <td>
                                <span class="text-primary text-decoration-underline " style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="modaltrack('<%=order[i].pp[0].model%>','<%=order[i].pp[0].category%>','<%=order[i].product.count*order[i].pp[0].offerprice-order[i].walletAmount%>','<%=order[i].pp[0].mainImage%>','<%=order[i].product.status%>')">
                                    track your order</span>
                            </td>

                        <%}%>
                       
                        <td>
                            <%if(order[i].pp[0].offerprice!=order[i].pp[0].price){%>
                                <h6>
                                    <strike>₹<%=order[i].product.count*order[i].pp[0].price%></strike>
                                </h6><br>
                            <%}%>
                            <h4>₹<%=order[i].product.count*order[i].pp[0].offerprice%></h4>
                        </td>
                        <%if(order[i].product.status=="cancelled"){%>
                            <td class="r">
                                <h6 class="text-seondary">order cancelled</h6>
                            </td>
                        <%}else if(order[i].product.status=="delivered"&& retunTime==true){%>
                            <td  class="r">
                                <button class="btn btn-info" onclick="returnProduct('<%=order[i].product.product%>','<%=order[i].product.count%>','<%=order[i].date%>','<%=order[i].product.status%>','<%=order[i]._id%>','<%=order[i].discount%>','<%=order[i].total + order[i].walletAmount%>','<%=order[i].pp[0].model%>','<%=order[i].method%>','<%=order[i].product.count*order[i].pp[0].offerprice-order[i].walletAmount%>','<%=order[i].product.count*order[i].pp[0].offerprice%>')">return
                                </button>
                            </td>
                            <%}else if(order[i].product.status=="returned"){%>
                                <td  class="r">
                                    <h6>product returned</h6>
                                </td>
                        <%}else{%>
                            <td>
                                <button onclick="cancelfromcart('<%=order[i].product.product%>','<%=order[i].product.count%>','<%=order[i].date%>','<%=order[i].product.status%>','<%=order[i]._id%>','<%=order[i].discount%>','<%=order[i].total + order[i].walletAmount%>','<%=order[i].pp[0].model%>','<%=order[i].method%>','<%=order[i].product.count*order[i].pp[0].offerprice-order[i].walletAmount%>','<%=order[i].product.count*order[i].pp[0].offerprice%>')" class="btn btn-danger">cancel order</button>
                            </td>
                        <%}%>
               
                </tr>
            <%}%>


            <hr></tbody>
        </table>
        <br>
            <div class="info-total d-flex flex-column float-end mt-3">
                <!-- <h5>total:<%=Math.ceil(order[0].total - order[0].discount)%></h5>

               <h5> discount:<%=order[0].discount%>%</h5> -->
               <br>
                <h3>Grand Total: 
                    ₹<%=Math.ceil(order[0].total)%></h3>
                <a href="/home/orders">Go to orders</a>
            </div>

        </div>
        <script>
            function modaltrack(model, category, total, image, status) {
                $("#model").html(model)
                $("#category").html(status)
                $("#total").html(`₹${total}`)
                $("#image").prop("src", image)
                if (status == "placed") {
                    $(".order-track-status-dot1").css("background", " #f05a00")

                } else if (status == "shipped") {
                    $(".order-track-status-dot1").css("background", " #f05a00")
                    $(".order-track-status-dot2").css("background", " #f05a00")

                    $(".order-track-status-line1").css("background", "#f05a00")

                } else if (status == "on the way") {
                    $(".order-track-status-dot1").css("background", " #f05a00")
                    $(".order-track-status-dot2").css("background", " #f05a00")
                    $(".order-track-status-dot3").css("background", " #f05a00")

                    $(".order-track-status-line1").css("background", "#f05a00")
                    $(".order-track-status-line2").css("background", "#f05a00")
                } else if (status == "out for delivery") {
                    $(".order-track-status-dot1").css("background", " #f05a00")
                    $(".order-track-status-dot2").css("background", " #f05a00")
                    $(".order-track-status-dot3").css("background", " #f05a00")
                    $(".order-track-status-dot4").css("background", " #f05a00")

                    $(".order-track-status-line1").css("background", "#f05a00")
                    $(".order-track-status-line2").css("background", "#f05a00")
                    $(".order-track-status-line3").css("background", "#f05a00")
                } else if (status == "delivered") {
                    $(".order-track-status-dot1").css("background", " #4BB543")
                    $(".order-track-status-dot2").css("background", " #4BB543")
                    $(".order-track-status-dot3").css("background", " #4BB543")
                    $(".order-track-status-dot4").css("background", " #4BB543")
                    $(".order-track-status-dot5").css("background", " #4BB543")

                    $(".order-track-status-line1").css("background", "#4BB543")
                    $(".order-track-status-line2").css("background", "#4BB543")
                    $(".order-track-status-line3").css("background", "#4BB543")
                    $(".order-track-status-line4").css("background", "#4BB543")


                }
            }


            function returnProduct(model, count, date, status, id, discount,amounttoreturn,name,method,returnAmount,priceAndCount) {
                console.log("this is return amount",returnAmount);
                swal({
  title: "Are you sure want to return?",
 
 
  buttons: true,
  dangerMode: true,
}).then(btn=>{
    if(btn){
        $.post("/home/returnproduct", {
            model,
                        count,
                        date,
                        status,
                        id,
                        discount,
                        amounttoreturn,
                        name,
                        method,
                        returnAmount,
                        priceAndCount  
                }, (res) => {
                    if (res.return == true) {
                        swal("return success", "Amount will credit to wallet once item is collected", "success");
                        $(".r").html("<h6>product returned</h6>")

                    }
                })
    }
})
              
            }
            function cancelfromcart(model, count, date, status, id, discount,amounttoreturn,name,method,returnAmount,priceAndCount) {
            console.log(method);
                swal({
  title: "Are you sure?",
  text: "Once canceled, you will not be able to recover this order!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.post("/home/deletefrombulkorder", {
                        model,
                        count,
                        date,
                        status,
                        id,
                        discount,
                        amounttoreturn,
                        name,
                        method,
                        returnAmount,
                        priceAndCount
                        
                    }, (response) => {
                        if (response.cancelled == true) {
                          swal({ title: "order is canceled",
  icon: "success",
  closeOnClickOutside:false
  
}).then(r=>{
  if(r){
    location.reload()
  }
})
    // location.reload()
    // ;
                        }
                    })
   
  } 
});
                // if (permission) {

                //     $.post("/home/deletefrombulkorder", {
                //         model,
                //         count,
                //         date,
                //         status,
                //         id,
                //         discount,
                //         amounttoreturn,
                //         name
                //     }, (response) => {
                //         if (response.cancelled == true) {
                //             location.reload()
                //         }
                //     })

                // }

            }
        </script>
