<%-include("../partials/top.ejs")%>
<%-include("../partials/userHeader.ejs")%>
        <!-- Your content goes here -->
<style>
  @import "compass/css3";
/* I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things... Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned. */
/* Global settings */
/* Global "table" column settings */
 .product-image {
	 float: left;
	 width: 20%;
}
 .product-details {
	 float: left;
	 width: 37%;
}
 .product-price {
	 float: left;
	 width: 12%;
}
 .product-quantity {
	 float: left;
	 width: 10%;
}
 .product-removal {
	 float: left;
	 width: 9%;
}
 .product-line-price {
	 float: left;
	 width: 12%;
	 text-align: right;
}
/* This is used as the traditional .clearfix class */
 .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 content: '';
	 display: table;
}
 .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 clear: both;
}
 .group, .shopping-cart, .column-labels, .product, .totals-item {
	 zoom: 1;
}
/* Apply clearfix in a few places */
/* Apply dollar signs */
 .product .product-price:before, .product .product-line-price:before, .totals-value:before {
	 content: '$';
}
/* Body/Header stuff */
 body {
	 padding: 0px 30px 30px 20px;
	 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-weight: 100;
}
 h1 {
	 font-weight: 100;
}
 label {
	 color: #aaa;
}
 .shopping-cart {
	 margin-top: -45px;
}
/* Column headers */
 .column-labels label {
	 padding-bottom: 15px;
	 margin-bottom: 15px;
	 border-bottom: 1px solid #eee;
}
 .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
	 text-indent: -9999px;
}
/* Product entries */
 .product {
	 margin-bottom: 20px;
	 padding-bottom: 10px;
	 border-bottom: 1px solid #eee;
}
 .product .product-image {
	 text-align: center;
}
 .product .product-image img {
	 width: 100px;
}
 .product .product-details .product-title {
	 margin-right: 20px;
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .product .product-details .product-description {
	 margin: 5px 20px 5px 0;
	 line-height: 1.4em;
}
 .product .product-quantity input {
	 width: 40px;
}
 .product .remove-product {
	 border: 0;
	 padding: 4px 8px;
	 background-color: #c66;
	 color: #fff;
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
	 font-size: 12px;
	 border-radius: 3px;
}
 .product .remove-product:hover {
	 background-color: #a44;
}
/* Totals section */
 .totals .totals-item {
	 float: right;
	 clear: both;
	 width: 100%;
	 margin-bottom: 10px;
}
 .totals .totals-item label {
	 float: left;
	 clear: both;
	 width: 79%;
	 text-align: right;
}
 .totals .totals-item .totals-value {
	 float: right;
	 width: 21%;
	 text-align: right;
}
 .totals .totals-item-total {
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .checkout {
	 float: right;
	 border: 0;
	 margin-top: 20px;
	 padding: 6px 25px;
	 background-color: #6b6;
	 color: #fff;
	 font-size: 25px;
	 border-radius: 3px;
}
 .checkout:hover {
	 background-color: #494;
}
/* Make adjustments for tablet */
 @media screen and (max-width: 650px) {
	 .shopping-cart {
		 margin: 0;
		 padding-top: 20px;
		 border-top: 1px solid #eee;
	}
	 .column-labels {
		 display: none;
	}
	 .product-image {
		 float: right;
		 width: auto;
	}
	 .product-image img {
		 margin: 0 0 10px 10px;
	}
	 .product-details {
		 float: none;
		 margin-bottom: 10px;
		 width: auto;
	}
	 .product-price {
		 clear: both;
		 width: 70px;
	}
	 .product-quantity {
		 width: 100px;
	}
	 .product-quantity input {
		 margin-left: 20px;
	}
	 .product-quantity:before {
		 content: 'x';
	}
	 .product-removal {
		 width: auto;
	}
	 .product-line-price {
		 float: right;
		 width: 70px;
	}
}
/* Make more adjustments for phone */
 @media screen and (max-width: 350px) {
	 .product-removal {
		 float: right;
	}
	 .product-line-price {
		 float: right;
		 clear: left;
		 width: auto;
		 margin-top: 10px;
	}
	 .product .product-line-price:before {
		 content: 'Item Total: $';
	}
	 .totals .totals-item label {
		 width: 60%;
	}
	 .totals .totals-item .totals-value {
		 width: 40%;
	}
}
 
</style>
        <div class="container">
          <h4 class="mt-4 mb-4"><%=result.length%> results for <%=searcsh%></h4>

          <%for(i=0;i<=result.length-1;i++){ %>

          <div
            class="cards d-flex"
            style="
              height: 240px;
              box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            "
          >
            <a
              href="/home/products/info?id=<%=result[i]._id%>"
              style="
                text-decoration: none;
                color: black;
                display: flex;
                justify-content: center;
              "
            >
              <div
                class="leftc d-flex justify-content-center align-items-center ms-2"
            
              >
                <img src="<%=result[i].mainImage%>" alt="" width="60%" />
              </div>
            </a>
            <div class="rightc w-100 ms-4">
              <div
                class="t d-flex justify-content-between align-items-center"
                style="width: 100%"
              >
                <h1 class="mt-4" style="font-weight: 300; font-size: 25px">
                  <%=result[i].model%>
                </h1>
                
                  
                
                <!-- <i
                  class="fa fa-heart fa-2xl me-4"
                  onclick="colorchangetored(this,'<%=result[i]._id%>')"
                ></i> -->
                
              </div>
              <span class="mdl-chip bg-success">
                <span class="mdl-chip__text text-light">4.1</span>
              </span>
              <div class="d-flex w-100 justify-content-between align-items-end">
                <ul class="mt-3">
                  <%for(h of result[i].highlights){%>
                  <li><%=h%></li>
                  <%}%>
                </ul>
                <div class="price">
                  <%if(result[i].price!=result[i].offerprice){%>
                  <strike><h5 class="text-secondary"><span>₹</span><%=result[i].price%></h5></strike>
                <h2 class="mb-4 me-4"><span>₹</span><%=result[i].offerprice%></h2>
                <%}else{%>
                  <h2 class="me-4 mb-4"><span>₹</span><%=result[i].offerprice%></h2>
                  <%}%>
                </div>
                
              </div>
            </div>
          </div>

          <%}%>
        </div>
      </div>
    </main>
    <script>
      function colorchangetored(x, id) {
        // event.stopPropagation()
        $.post(
          "/home/addtowish",
          {
            pid: id,
          },
          (d) => {
            console.log(d);
          }
        );
      }

      function colorchangetoblack(x, id) {
        $.post(
          "/home/removefromwish",
          {
            pid: id,
          },
          (d) => {
            console.log(d);
          }
        );
      }
    </script>
  </div>
</html>
