<%-include("../partials/top.ejs")%>
<style>
    a{
        text-decoration: none;
        color: #050305;
    }
    ul{

        display: flex;
        flex-direction: column;
        list-style:none;
        margin: 0;
        padding: 0;
        margin-top: 60px;
        cursor: pointer;
        
    }
    li:hover{
        background-color: #e7e7e7;
    }
li{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #ecefff;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #c1aac5
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #050305;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.address{
    border-radius: 10px;
    height: 150px;
    border: 1px solid #3F51B5;
    width: 90%;
}
.addressdiv::-webkit-scrollbar{
    display: none;
}


</style>
<body>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Add a new Address</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <!-- <form action="/home/addaddress/<%=result._id%>" method="post"> -->
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name"required>
                
              </div>
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="mob" name="name" required>
                
              </div>
      
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Address line1</label>
                <input type="text" class="form-control" id="ad1"  name="address1" required>
                
              </div>
      
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">Address line2</label>
                <input type="text" class="form-control" id="ad2"  name="address2" required>
                
              </div>
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">post</label>
                <input type="text" class="form-control" id="post"  name="post" required >
                
              </div>
              <div class="mb-1">
                <label for="exampleInputEmail1" class="form-label">pin</label>
                <input type="number" class="form-control" id="pin"  name="pin" required>
                
              </div>
              <div class="mb-1">
                
               
                
              </div>
              <input type="button" onclick="addaddressbtn('<%result._id%>')" value="add"  class="form-control btn btn-primary">
            <!-- </form> -->
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div> -->
          </div>
        </div>
      </div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">         <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Admin Dash</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <button id="demo-menu-lower-right"
              class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <a href="/home/profile">
        <li  class="mdl-menu__item d-flex align-items-center justify-content-between">My Profile<i class="fa-sharp fa-solid fa-user"></i></li>
    </a>
       <a href="/logout"><li class="mdl-menu__item d-flex align-items-center justify-content-between">log out</i><i class="fa-sharp fa-solid fa-power-off"></i>
       </li></a>
      </ul>
      
              
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">My profile</a>
      </nav>
    </div>
        <main class="mdl-layout__content">
          <div class="page-content"><!-- Your content goes here -->
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right d-flex">
                        <d class="d-flex flex-column  align-items-center text-center p-3 py-5">
                            <img class="rounded-circle d-flex flex-column" width="50px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                            <span class="font-weight-bold"><%=result.name%></span>
                        
                            <span class="text-black-50"><%=result.email%>
                            
                            </span>
                            <div class="div " style="width:250px ;">
                            <ul>
                                <a href="/home/profile" ><li style="background-color: rgb(206, 195, 255);">My Profile</li></a>
                               <a href="/home/orders"> <li>My Orders</li></a>
                               <a > <li onclick="myWallet()"">My Wallet</li></a>
                               <a><li onclick="myAddress()">My Addresses</li></a>
                                <a href="/logout"><li>Log out</li></a>
                            </ul>
                            </div>
                            

                    </div>
                    <div class="col-md-5 border-right0" style="margin-top: 200px;">
                        <div class="p-3 py-5" id="myProfile" style="border-radius:10px;border: 1px solid rgb(134, 134, 134);">
                            <h3 class="text-secondary">Name:<%=result.name%></h3>
                            <h3 class="text-secondary">email:<%=result.email%></h3>
                            <h3 class="text-secondary">Mobile:<%=result.mobile%></h3>
                             <button class="btn btn-outline-secondary w-100 mt-4">change password</button>
                             
                            <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                                
                                <h4 class="text-right">Profile Settings</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                              
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div> -->
                        </div>
                        <div class="p-3 py-5 " id="myWallet">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Wallet</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                              
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                            </div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="p-3 py-5 addressdiv"  style="overflow-y: scroll;width:600px; height: 80vh;"  id="myAddress">
                                <div class="d-flex justify-content-between align-items-center experience mai"><span>Address</span>
                                     <button type="button"  class= class="border px-3 p-1 add-experience" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <span><i class="fa fa-plus"></i>&nbsp;</span>
                                      </button>
                               
    
                                   
                                    </div><br> 
                                    <%for(i=0;i<=result.address.length-1;i++){%>
                                <div class="col-md-12 mai"><div class="address mb-3">
                                    
                                    <div class="addresss p-3 d-flex justify-content-between">
                                        <div class="left">
                                           
                                            <h6><%=result.address[i].name%></h6>
                                           <h6><%=result.address[i].mobile%></h6>
                                           <h6><%=result.address[i].address1%></h6>
                                           <h6><%=result.address[i].address2%></h6>
                                           <h6><%=result.address[i].post%></h6>
                                           <h6><%=result.address[i].pin%></h6>
                                        </div>
                                        <div class="btns d-flex flex-column ">
                                         
                                              <button class=" editbtn btn btn-primary btn-circle h-25 d-flex justify-content-center align-items-center mb-2 w-75;">
                                            
     
     
                                            <i class="fa-solid fa-user-pen"></i>
                                            <a href="/home/deleteaddress?in=<%=i%>">  </button>
                                              <button class="btn btn-danger   h-100 d-flex justify-content-center align-items-center mb-2  w-100">
                                                <i class="fa-solid fa-trash "></i>
                                              </button>
                                            </a>
                                            
                                        </div>
                                           
                                    </div>
                                        
    
                                </div>  <%}%>  </div>
                               
                                <br>
                               
                             
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            </div>
            </div>
            
          </div>
        
        
          
        </main>
        
      <script>
        $(document).ready(()=>{
           
            $("#myWallet").css("display","none")
            $("#myAddress").css("display","none")
        
        })

       function myWallet(){
        $("#myProfile").css("display","none")
        // $("#myWallet").css("display","none")
        $("#myAddress").css("display","none")

       } 

       function myAddress(){
        $("#myAddress").css("display","block")
        $("#myProfile").css("display","none")
        $("#myWallet").css("display","none")

       }


        function addaddressbtn(id) {
      
      $.post("/home/addaddress/<%=result._id%>",
      {name:$("#name").val(),
       address1:$("#ad1").val(),
       address1:$("#ad2").val(),
       post:$("#post").val(),
       pin:$("#pin").val(),
       mobile:$("#mob").val()
    },
      (data)=>{
        swal("address added!.")
.then((value) => {
  
  location.reload()
});
      
       

      }
      )
      
     }
      </script>
</body>