<%-include("../partials/top.ejs")%>
<style>
    a{
        text-decoration: none;
        color: #050305;
    }
    ul{

        display: flex;
        flex-direction: column;
        list-style:none;
        margin: 0;
        padding: 0;
        margin-top: 60px;
        cursor: pointer;
        
    }
    li:hover{
        background-color: #e7e7e7;
    }
li{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #ecefff;
}




</style>
<body>
    
<%-include("../partials/userHeader.ejs")%>
      <!-- Your content goes here -->
            <div class="container  mt-5" style="display: flex;align-items: center;justify-content:space-around ;border:2px solid grey">
                    <div class="col-md-3 border-right d-flex">
                        <d class="d-flex flex-column  align-items-center text-center p-3 py-5">
                            <img class="rounded-circle d-flex flex-column" width="50px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                            <span class="font-weight-bold"><%=user.name%></span>
                        
                            <span class="text-black-50"><%=user.email%>
                            
                            </span>
                            <div class="div " style="width:250px ;">
                            <ul>
                                <a href="/home/profile" ><li style="background-color: rgb(206, 195, 255);">My Profile</li></a>
                               <a href="/home/orders"> <li>My Orders</li></a>
                               <a href="/home/getwallet" > <li >My Wallet</li></a>
                               <a href="/home/myaddress"><li>My Addresses</li></a>
                                <a href="/logout"><li>Log out</li></a>
                            </ul>
                            </div>
                            

                    </div>
                    
                    <div class="col-md-5 border-right0">
                        <div class="p-3 py-5" id="myProfile" style="border-radius:10px;border: 1px solid rgb(134, 134, 134);">
                            <h3 class="text-secondary">Name:<%=user.name%></h3>
                            <h3 class="text-secondary">email:<%=user.email%></h3>
                            <h3 class="text-secondary">Mobile:<%=user.mobile%></h3>
                             <a href="/home/changepassword" class="btn btn-outline-secondary w-100 mt-4">change password</a>
                           
                        </div>
                      </div>
                       
                       
                  
                   
                </div>
          
            
            
          
        
         

          
        </main>
        
      <script>
        $(document).ready(()=>{
           
            $("#myWallet").css("display","none")
            $("#myAddress").css("display","none")
        
        })

     

   


        function addaddressbtn(id) {
      
      $.post("/home/addaddress/<%=user._id%>",
      {name:$("#name").val(),
       address1:$("#ad1").val(),
       address1:$("#ad2").val(),
       post:$("#post").val(),
       pin:$("#pin").val(),
       mobile:$("#mob").val()
    },
      (data)=>{
        if(data.empty){
          swal("all fields must filled.")
        }
        else{
                  swal("address added!.")
.then((value) => {
  
  location.reload()
});
        }

      
       

      }
      )
      
     }
      </script>
      
</body>
